.history-list-title {
  color: rgba(0, 0, 0, 0.45);
  margin: 6px 6px !important;
}

.apply-history-button {
  padding: 0;
  margin: {
    left: 270px;
    bottom: 5px;
  }
  color: #1B5EC3;
}

.ant-popover-inner-content {
    padding: 0;
}
